@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600&display=swap');

body {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  color: #262626;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.05);
  line-height: 1rem;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

img#avatar {
  border-radius: 50%;
  width: 100px;
}

a {
  color: rgba(10, 10, 10, 0.5);
  text-decoration: none;
}

a:hover {
  color: black;
}

a.social-links {
  font-size: 20px;
  margin: 5px;
}

a.btn-black {
  color: white;
  background-color: rgba(10, 10, 10, 0.5);
  font-size: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

a.btn-black:hover {
  background-color: rgba(10, 10, 10, 0.75);
}

.container {
  width: 600px;
  margin: 50px auto;
  border: 0;
}

.card {
width: 300px;
margin: 10px auto;
border: 0;
box-shadow: 5px 5px 50px rgba(10, 10, 10, 0.5);
padding: 30px;
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
  .card {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .card {
    width: 250px;
  }
}

@media (max-width: 360px) {
  .container {
    width: 300px;
  }
  .card {
    width: 200px;
  }
}
